canvas 
{
    position: absolute;
    display: block;
    padding: 0;
    margin: -8px;
    border: 1px solid black;
    left: 50%;
    margin-left: -630px;

}



body
{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000000;
}
